<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>837128434968-hgse7u47tbpvsbmulciuitg1m6dn4jrb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.837128434968-hgse7u47tbpvsbmulciuitg1m6dn4jrb</string>
	<key>API_KEY</key>
	<string>AIzaSyDZ5oDYUYhJGRu0-mDF7jst-xPS6ecGEwk</string>
	<key>GCM_SENDER_ID</key>
	<string>837128434968</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hal1437.IterationTimer</string>
	<key>PROJECT_ID</key>
	<string>iterationtimer-b1a30</string>
	<key>STORAGE_BUCKET</key>
	<string>iterationtimer-b1a30.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:837128434968:ios:9b95b14b1f21e515759a6d</string>
</dict>
</plist>